{% extends "base.html" %}

{% block title %}CBS5M - AML, CFT, KYC Policy.{% endblock %}

{% block content %}
<h2>International Anti-Money Laundering (AML), Countering the Financing of Terrorism (CFT) and Know Your Customer (KYC) Policy of CBS5M.</h2>
<p>
    This International Anti-Money Laundering (AML), Countering the Financing of Terrorism (CFT), and Know Your Customer (KYC) Policy (hereinafter referred to as the "Policy") outlines the procedures and measures implemented by CBS5M to prevent the use of its services for money laundering, terrorism financing, and other illicit activities. CBS5M is committed to complying with all applicable international and local laws, regulations, and guidelines concerning AML/CFT, including the recommendations of the Financial Action Task Force (FATF).
<br><br>
CBS5M reserves the right to update or modify this Policy at any time to reflect changes in legal or regulatory requirements, our operations, or international best practices. Clients will be notified of significant changes where required.
</p>
{% endblock %}