{% extends "base.html" %}

{% block title %}CBS5M - News{% endblock %}

{% block content %}
<details>
  <summary>Doshuw 585 (SOM): Gold-Backed Digital Assets.   May 03, 2026</summary>
    <p>
        Doshuw 585, trading under the symbol: SOM, is a digital token backed by physical gold (583–585 purity jewelry and scrap gold) held in secure storage in Ingushetia (Russian Federation).
<br><br>
A Stable Store of Value Doshuw Som provides a reliable and stable way to preserve wealth. Each token is pegged to 1 gram of gold (minimum 583 purity). Currently, SOM is issued exclusively on the Sonic (S) blockchain.
<br><br>
 Physical Redemption. SOM tokens can be redeemed for physical gold in Ingushetia at a 1:1 ratio (1 token = 1 gram). Redemption limits: From 3 to 10 tokens per transaction.
<br><br>
How to redeem: Please contact us directly to schedule an appointment and confirm the exchange details.
<br><br>
Fast & Borderless Payments.
Designed for everyday use, SOM allows residents of Ingushetia to make frequent micro-payments without relying on traditional bank accounts or facing the risk of asset freezes.
Compliance By using Doshuw585 Som, users agree to comply with the legal regulations of their respective jurisdictions, including the Russian Federation, CIS countries, and international law.

<br>
<br>
<br><br>
Token Name: Doshuw585 .
<br><br>
Token Symbol: SOM .
<br>
<br><br>
 Contract Address : 0x5B415D2E3f8b437E89A6457A1D630D0e4D882311 .
        <br><br>
Blockchain Explorer : Sonicscan.org
        <br><br>
        <a href="https://sonicscan.org/token/0x5B415D2E3f8b437E89A6457A1D630D0e4D882311">Open in exploer</a>
<br><br>
Please be careful: tokens whose details are not published on all CBS5M pages and channels have no connection to us, even if their names are similar.
<br><br>
⚠️ For experienced users only! Violating the rules for safe cryptocurrency use, including transferring to the wrong address, carries the risk of losing your funds without compensation or the possibility of a refund.

    </p>
</details>
<details>
  <summary>Your Anti-Scam Partner, Keeping You Safe!   30/11/2025</summary>
    <p>
        Quick check for scams, and report scams with a single click to help protect others.

<br><br><br>
<a href="https://www.scamadviser.com">Open</a>
    </p>
</details>

{% endblock %}