{% extends "base.html" %}

{% block title %}CBS5M - Rules{% endblock %}

{% block content %}
<h1>Community rules.</h1>
<p>The rules governing the operation of coinBusiness are adopted and approved based on the values declared by the community. Inviolable values cBS5M is a person,his safe life, his health, mind and intellect, his money and property, free will, his honor and dignity; national identity, customs, traditions, the right to choose. This also includes freedom of opinion and belief, culture, spirituality and human religion.
<br><br>
Any activity will be checked against the above values before we approve or support it.
<br><br>
<br>
<br><br>

Deals conducted using the resources of cBS5M must not be related to nudity, erotica; drugs, alcohol; bookmakers, casinos, loans with a profit.
<br><br>
And, also, any activity against a person, causing harm and damage to a person’s life, his health, his mind and intellect .<br>
It is not allowed to cause damage / loss to a person's money, his property, including any material and digital values.
<br><br>
 Content that offends the honor of a person and his dignity, his culture, freedom of opinion, religion, including any discredit is not allowed!
<br><br>
<br>
We support publicity and free expression of opinion about us, our team and the cBS5M project.   On all cB pages in social networks, channels and forums.   Also, we appreciate your advice to improve the cBS5M service.
<br><br>
The CBS5M team does not have the right to edit or delete user comments!
<br><br>
If the comment is not related to cBS5M activities, or violates the rules, the page administrator must submit a statement to the community and hold a vote.   When the community votes to remove a comment violating cB5M's rules, it may be removed.
There should be a public entry in the cBS5M news about this.
<br><br>
Does not support trading in cryptocurrencies.
</p>
<h3>Limits.</h3>
<p>The transaction amount limit is up to 2,500 USDT per transaction.
<br><br>
The transaction amount limit per user is up to 10,000 USDT over 30 days.</p>
{% endblock %}

