{% extends "base.html" %}

{% block title %}CBS5M - Services{% endblock %}

{% block content %}
<p>We provide "Safe Deal" services for the purchase and sale and for the provision / receipt of services.
Using our public wallets on open blockchain and stablecoins :  USDT,  USDC, PAXG ( Pax Gold ),  XAUt (Tether Gold) .
<br><br>
<br>
When making a deal , reserve your payment on the cBS5M public wallet.
We will announce your trade and once your partner completes the terms of the trade, the reserved funds will go to your partner's public wallet.
<br><br>
<br>
If your partner does not fulfill the terms of your deal, your funds will be returned to your public wallet. In the event of a controversial situation, we study the evidence and facts, participants and other details. It is possible to consider the dispute at the public council.
<br><br>
By using this service, you acknowledge that you have read and are following the rules of this community. In case of a controversial situation, you agree with the decision of the company and the cBS5M community or involve arbitration for an open investigation at your expense.</p>
<details>
  <summary>Purchase and Sale agreement for Phone / Laptop / PC, (sample).</summary>
  <p>This Purchase and Sale Agreement (the "Agreement") is made and entered into on _____________ [DATE], by and between:<br>
Seller: _________________________ [Social media account ] ("Seller")<br>
Seller's wallet on the blockchain: ________________________________________________________
<br><br>
AND
<br><br>
Buyer: _________________________ [Social media account ] ("Buyer")<br>
Buyer's wallet on the blockchain.: _________________________________________________________________.<br>
<br>
ITEM description .<br>
<br>
The Seller agrees to sell and the Buyer agrees to purchase the following item (the "Item"):<br>
iPhone Model: ___________________ [MODEL NUMBER]<br>
Serial Number: ______Last 4 digits____________ [SERIAL NUMBER]<br>
IMEI Number: _______Last 4 digits.____________ [IMEI NUMBER]<br>
Color: _________________________ [COLOR]<br>
Storage Capacity: _______________ [STORAGE]<br>
Condition: _____________________ [NEW /USED REFURBISHED]<br>
Included Accessories: ___________ [LIST ALL ACCESSORIES]<br>
Before paying for the goods, the seller must inform the buyer of all defects, flaws and damage to the goods known to him (If available).<br>
<br>
PURCHASE PRICE AND PAYMENT<br>
<br>
2.1 The total purchase price for the Item is USDT_/ USDC__Traditional currencies or gold._______ [AMOUNT].<br>
/ Enter price in USD, use Bitcoin or Ethereum for transfer.<br>
<br>
2.2 Payment shall be made in the following manner:<br>
<br>
The buyer makes a payment to one of CBS5M public wallets using popular stablecoins: USDT, USDC, XAUt, PAXG.<br>
<br>
After receiving the goods, the buyer confirms payment and CBS5M transfers the money to the seller’s wallet specified in the contract.<br>
<br>
If the buyer refuses the purchase, the money is returned back to his wallet.<br>
The electronic receipt of the transaction is kept in the public domain.<br>
<br>
DELIVERY AND TRANSFER<br>
<br>
3.1 The Item shall be delivered to the Buyer on _____________ [DATE] at _____________ [LOCATION].<br>
3.2 Upon full payment to CBS5M wallet, the Seller shall provide:<br>
The Item and all included accessories<br>
Original receipt (if available)<br>
Warranty information (if applicable).<br>
3.3 Title and risk of loss shall pass to the Buyer upon the Buyer's receipt of the Item.<br>
<br>
REPRESENTATIONS AND WARRANTIES<br>
<br>
4.1 The Seller represents and warrants that:<br>
The Seller is the lawful owner of the Item with full right to sell<br>
The Item is free from all encumbrances, liens, and security interests<br>
The Item is not stolen property<br>
The Item's IMEI has not been blacklisted<br>
The Item is free from iCloud or other activation locks<br>
<br>
4.2 Item condition disclosure:<br>
<br>
Physical condition: _________________ [DESCRIBE ANY SCRATCHES, DENTS, ETC.]<br>
Battery health: _____________________ [PERCENTAGE IF KNOWN]<br>
Functional issues: __________________ [DESCRIBE ANY FUNCTIONAL PROBLEMS]<br>
Repairs performed: _________________ [LIST ANY REPAIRS/REPLACEMENTS]<br>
4.3 The Item is sold:<br>
With remaining manufacturer warranty until _____________ [DATE]<br>
With AppleCare+ until _____________ [DATE]<br>
"As is" with no warranty<br>
Other: _________________________ [SPECIFY]<br>
<br>
RETURN POLICY<br>
5.1 [ ] No returns accepted 5.2 [ ] Returns accepted within _____ days for the following reasons: ___________________________________ [SPECIFY ACCEPTABLE REASONS]<br>
If the seller / buyer opens a dispute, then their case is reviewed by the cBS5M team, admins and members of group. Also, at the request of the participants, the case can be transferred to an official court of any jurisdiction.<br>
<br>
MISCELLANEOUS<br>
<br>
6.1 This Agreement constitutes the entire understanding between the parties.<br>
Like and repost of this agreement by the seller and the buyer confirm their agreement.<br>
6.2 This agreement is governed by the rules of group, Facebook, and the CBS5M community.<br>
6.3 Any modifications to this Agreement must be in writing and signed by both parties.<br>
6.4 If any provision of this Agreement is held to be invalid or unenforceable, the remaining provisions shall continue to be valid and enforceable.<br>
IN WITNESS WHEREOF, the parties have executed this Agreement as of the date first written above.<br>
SELLER:<br>
_________________________ Social media account /<br>
Blockchain wallet.<br>
BUYER:<br>
<br>
_________________________ Social media account /<br>
Blockchain wallet.</p>
</details>

{% endblock %}
